h2{
    background-color: #e83e8c;
    color: #f8f9fa;
    width: 600px;
    align-content: center;
    
}
label{
    background-color: blue;
    color: #f8f9fa;
    width: 180px;
    font-size: medium;
    position: relative;
}
select{
    position: relative;
    left: 48px;
    z-index: 10;
    right: 85%;
    top: 0px;
}
h1{
    background-color: orange;
}