h2{
    background-color: #e83e8c;
    color: #f8f9fa;
    width: 600px;
    align-content: center;
    
}
label{
    background-color: blue;
    color: #f8f9fa;
    width: 150px;
    font-size: medium;
}
select{
    position: absolute;
    z-index: 10;
    right: 85%;
    top: 102px;
}
h1{
    background-color: orange;
}