<h1><strong>INTERNATIONALISATION</strong></h1>
<div>
 <h2>{{ 'HOME.TITLE' | translate }}</h2> 
    
 <label>
   {{ 'HOME.SELECT' | translate }}
   <select #langSelect (change)="translate.use(langSelect.value)">
     <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
   </select>
 </label>
</div>
<br>
<div>
  <input type="text" name="country" placeholder="Country" value="" >
  Price: {{ 9999.9 | currencyFormat : '$' : '.' : ',' }}    
</div> 
<br>
<hr>
<router-outlet></router-outlet>