<div class="row container">

    <div class="col-9">
        <div class="container">
            <div class="row">
                <ng-container *ngFor="let item of allBooks">
                    <div class="card col-md-3">
                        <img [routerLink]="['ibook', item.bookId]"
                        src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}" 
                        alt=""/>
                        <h5>
                        {{ item.title }}
                        </h5>
                        <p>
                            <strong>₹{{ item.price }}</strong>
                        </p>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>